body{
font-family: "Itim", cursive;
background-color: #fdf2e9;
}
.content-block{
display: flex;
flex-direction: column;
align-items: center;
text-align:center;
}
.content-form{
    display: flex;
flex-direction: column;
align-items: center;
text-align:center;
}
.three-block{
display: flex;
flex-direction: column;
align-items: center;
text-align:center;
}
.four-block{
    display: flex;
flex-direction: column;
align-items: center;
text-align:center;
}
.content_buddy{
    display: flex;
flex-direction: column;
align-items: center;
text-align:center;
}
.form-block{
    display: flex;
flex-direction: column;
align-items: center;
}
.form-block label{
font-size: 13px;
align-self: flex-start;
margin-top: 50px;
}
.form-block input {
    font-family: "Itim", cursive;
    display: block;
    font-size: 18px;
    width: 300px; /* ปรับตามต้องการ */
    height: 50px;
    border: none;
    border-radius: 12px;
    margin-top: 10px;
    margin-bottom: 25px; /* เว้นระยะห่าง */
}
.to-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align:center;
}
.picture {
display: flex;
justify-content:center;
align-items: center;
height: 300px;
}
.picture img{
max-width: 100%;
height: auto;
}
.picture1{
display: flex;
justify-content:center;
align-items: center;
height: 150px;
}
.picture1 img{
    max-width: 100%;
    height: auto;
}
.picture2{
    margin-top: 100px;
}
.heading{
font-size: 26px;
font-weight: bold;
}
.heading1{
    font-size: 16px;
    font-weight: bold;
}
.heading2{
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 20px;
}
.heading3{
    font-size: 16px;
    font-weight: bold;
}
.heading4{
    font-size: 26px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 0px;
}
.heading5{
    font-size: 16px;
    font-weight: bold;
}
.heading6{
    font-size: 16px;
    font-weight: bold;
}
.heading7{
    justify-self: flex-start;
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 0;
}
.title{
font-size: 26px;
font-weight: bold;
margin-top: 0;
margin-bottom: 8;
line-height: 1.3;
}
.subtitle{
margin-top: 0;      /* ลบระยะห่างบน */
line-height: 1.4;
}
.title1{
    font-size: 26px;
    font-weight: bold;
margin-top: 40;
margin-bottom: 8;
line-height: 1.3;
}
.subtitle1{
font-weight: 300;
margin-top: 0;      /* ลบระยะห่างบน */
margin-bottom: 50;
line-height: 1.4;
}
.title2{
    font-size: 16px;
    text-align: justify;
    margin-top: 10px;
}
.picture3 h3{
    font-weight: 300;
}
.dot {
display: inline-block;
width: 12px;
height: 12px;
margin: 0 6px;
background-color: #bbb;
border-radius: 50%;
cursor: pointer;
}
.button1{
font-family: "Itim", cursive;
font-size: 26px;
background-color:D9614C;
color: white;
margin-top: 50px;
border-radius: 12px;
border: none;
height:60px;
width: 300px;
cursor: pointer;
}
.button2{
font-family: "Itim", cursive;
font-size: 16px;
color:D9614C;
background-color:#fdf2e9;
border: none;
margin-top: 20;
cursor: pointer;
}
.checklist{
    list-style: none;
    padding-left: 0;
}
.checklist li{
    display: flex;
    align-items: center;
}
.checklist li::before{
    content: "✓" ;
    font-weight: bold;
    margin-right: 10px;
}
.sell{
    display: flex;
    border: 5px solid #D9614C;
    border-radius: 12px;
    background-color: #fefbf8;
    padding: 10px;
    flex-direction: column;
    text-align: center;
    gap: 0px;
    height: 100px;
    width: 100px;
    margin-right: 10px;
    cursor: pointer;
}
.check-sell{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}
.years{
    font-size: 16px;
    margin-bottom: 0px;
    margin-top: 8px;
}
.price{
    font-size: 36px;
    margin-bottom: 0px;
    margin-top: 0px;
}
.years1{
    font-size: 16px;
    margin-bottom: 0px;
    margin-top: 0px;
}
.sell1{
    display: flex;
    border-radius: 12px;
    background-color: #fefbf8;
    padding: 15px;
    flex-direction: column;
    text-align: center;
    gap: 0px;
    height: 100px;
    width: 100px;
    cursor: pointer;
}
.years2{
    font-size: 16px;
    margin-bottom: 0px;
    margin-top: 8px;
}
.price1{
    font-size: 36px;
    margin-bottom: 0px;
    margin-top: 0px;
}
.years3{
    font-size: 16px;
    margin-bottom: 0px;
    margin-top: 0px;
}
.block-head{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}
.close-button {
    position: absolute;
    left: 300px;
    top: 22px;
    right: 10px;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
}
.block-head1{
    display: flex;
    flex-direction: row;
}
.block-head3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.button-bars{
    order:-1 ;
    left: 10px;
    top: 22px;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
}
.button-search{
    top: 22px;
    right: 10px;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    order: 2;
}
.button-ellipsis{
    order: 1;
    top: 22px;
    right: 10px;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
}
.button-angle-left{
    order: -1;
    left: 10px;
    top: 22px;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
}
.masonry {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 10px;                             
    padding: 1rem;
    margin-top: 0px;
}
.card{
    background: #fefbf8;
    padding: 3rem;
    margin-bottom: 10px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
}
.feture {
display: flex;
flex-direction: column;
gap: 20px;
padding: 20px;
width: 330px;
}

.menu-item {
display: flex;
align-items: center;
justify-content: space-between;
cursor: pointer;
}

.icon-text {
display: flex;
align-items: center;
gap: 16px;
}

.icon-text img {
width: 24px;
height: 24px;
}

.icon-text p {
margin: 0;
font-size: 16px;

}

.button-angle-right {
background: none;
border: none;
cursor: pointer;
font-size: 18px;
}
.super-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 320px;
}